---
to: src/components/<%= h.inflection.camelize(name.replace(/\s/g, '_')) %>/index.tsx
---
import {h} from 'hyperapp'
import cc from 'classcat'

import './style.css'

export const <%= h.inflection.camelize(name.replace(/\s/g, '_')) %> = (props, children, {label = label || 'Label', name = name || 'name', type = type || 'text', placeholder = placeholder || ' ', required, setter} = props) => (
  <div class={cc(['<%= h.inflection.dasherize(name.toLowerCase()) %>', name])} key={name}>
    <input type={type} name={name} id={name} placeholder={placeholder} oninput={ev => setter({[name]: ev.target.value})} required={required} {...props} setter={null} />
    <label for={name}>{label}{required ? ' *' : null}</label>
  </div>
)

// import {<%= h.inflection.camelize(name.replace(/\s/g, '_')) %>} from '@components/<%= h.inflection.camelize(name.replace(/\s/g, '_')) %>/index.tsx'
// <<%= h.inflection.camelize(name.replace(/\s/g, '_')) %> label="First name" name="firstName" value={firstName} setter={set} />
