---
to: src/app/components/<%= h.inflection.camelize(name.replace(/\s/g, '_')) %>/index.jsx
---
import {h} from 'hyperapp'

import './style.css'

export const <%= h.inflection.camelize(name.replace(/\s/g, '_')) %> = ({title}, children) => (
  <div className="<%= h.inflection.dasherize(name.toLowerCase()) %>" key="<%= h.inflection.dasherize(name.toLowerCase()) %>">
    <h2>{title}</h2>
    <div className="inner">
      {children}
    </div>
  </div>
)

/*
import {<%= h.inflection.camelize(name.replace(/\s/g, '_')) %>} from './components/<%= h.inflection.camelize(name.replace(/\s/g, '_')) %>'
<<%= h.inflection.camelize(name.replace(/\s/g, '_')) %> title="Container component" >
  <p>Child content within the component</p>
</<%= h.inflection.camelize(name.replace(/\s/g, '_')) %>>
*/
