---
to: src/app/components/common/<%= h.inflection.camelize(name.replace(/\s/g, '_')) %>/index.jsx
---
import {h} from 'hyperapp'
import cc from 'classcat'

import './style.css'

export const <%= h.inflection.camelize(name.replace(/\s/g, '_')) %> = ({label = label || 'Label', name = name || 'name', required, ...rest}) => (
  <div className={cc(['<%= h.inflection.dasherize(name.toLowerCase()) %>', name])} key={name}>
    <input type="radio" name={name} id={name} required={required} {...rest} />
    <label for={name}>{label}{required ? ' *' : null}</label>
  </div>
)

/*
import {<%= h.inflection.camelize(name.replace(/\s/g, '_')) %>} from './components/common/<%= h.inflection.camelize(name.replace(/\s/g, '_')) %>'
<<%= h.inflection.camelize(name.replace(/\s/g, '_')) %> label="First name" name="firstName" value={firstName} />
*/
