---
to: src/app/components/<%= h.inflection.camelize(name.replace(/\s/g, '_')) %>/index.jsx
---
import {h} from 'hyperapp'

// Import local actions
import {SetValue, SubmitForm} from './actions'

import './style.css'

export const <%= h.inflection.camelize(name.replace(/\s/g, '_')) %> = ({firstName, lastName, submitted}) => (
  <form className="<%= h.inflection.dasherize(name.toLowerCase()) %>" key="<%= h.inflection.dasherize(name.toLowerCase()) %>" method="post" onsubmit={SubmitForm}>
    <h3>Form component with namespaced state</h3>
    <p>Full name: <b>{firstName} {lastName}</b></p>
    <input type="text" id="firstName" name="firstName" placeholder="First name" value={firstName} oninput={[SetValue, 'firstName']} required />
    <input type="text" name="lastName" placeholder="Last name" value={lastName} oninput={[SetValue, 'lastName']} required />
    {!submitted ? <button type="submit" pill>Submit</button> : <span>Submitted!</span>}
  </form>
)

/*
import {<%= h.inflection.camelize(name.replace(/\s/g, '_')) %>} from './components/<%= h.inflection.camelize(name.replace(/\s/g, '_')) %>'
<<%= h.inflection.camelize(name.replace(/\s/g, '_')) %> {...state.<%= h.inflection.camelize(name.replace(/\s/g, '_'), true) %>} />
*/
